{% extends 'base.html' %} 
{%block title%}New User Form{%endblock%} 
{% block content%}
<div class="container">
<h1>Create a user</h1>
<form action="/users/new" method="POST">
    <label for="first_name">First Name:</label>
    <br>
    <input type="text" name="first_name" placeholder="Enter first name">
    <br>
    <label for="last_name">Last Name:</label>
    <br>
    <input type="text" name="last_name" placeholder="Enter last name">
    <br>
    <label for="img_url">Image URL:</label>
    <br>
    <input type="text" name="img_url" placeholder="Provide image of the user">
    <br>
    <button class="button btn btn-primary">Add</button>
</form>
</div>
{% endblock %}