.button {
    margin-left: .5rem;
    margin-top: .5rem;
}

.img {
    height: 200px;
    width: 200px;
}

.badge {
    background-color: rgb(60, 60, 177);
}

.title {
    text-decoration: none;
    color: black;
}

.bold {
    font-weight: bold;
}

.navbar {
    background-color: rgb(159, 189, 245);
    border-radius: 3px;
}

.navbar-brand {
    margin-left: 5px;
}