{% extends 'base.html' %} {%block title%}Main Page{%endblock%} {% block
    content%}
    <div class="container mt-5">
      <h1>{{tag.name}}</h1>
      <ul class="list-group">
        {%if tag.posts%}
        {%for post in tag.posts%}
        <li class="list-group-item">
          <a href="/post/{{post.id}}">{{post.title}}</a>
        </li>
        {%endfor%}
        {%else%}
        <p>-No posts yet-</p>
        {%endif%}
      </ul>
      <div>
        <form action="/tags/{{tag.id}}/edit">
          <input type="submit" name="edit_button" value="Edit" class="btn btn-outline-warning button" />
      </form>
      <form action="/tags/{{tag.id}}/delete" method="POST">
          <input type="submit" name="delete_button" value="Delete" class="btn btn-outline-danger button"/>
      </form>
      </div>
    </div>
    {% endblock %}